<div class="col-sm-12">
  <div class="form-group form-row p-0 mb-1 justify-content-center">
    <div class="input-group col-sm-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary left" type="button" (click)="boolAprox = !boolAprox">
          {{boolAprox ? 'Aprox.' : 'Exacto'}}
        </button>
      </div>
      <input [(ngModel)]="searchNum" placeholder="# Factura" (keyup.enter)="getInvoices()" class="form-control" type="text"
        name="searchid" id="searchid">
    </div>
    <div class="input-group col-sm-4">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary left" type="button" (click)="srchPro()">
          <span class="far fa-hand-pointer fa-fw"></span>
        </button>
      </div>
      <input [ngModel]="searchProviderDet" disabled placeholder="Proveedor" (keyup.enter)="getInvoices()" class="form-control"
        type="text" name="searchid" id="searchid">
    </div>
    <div class="input-group col-sm-2">
      <button (click)="searchAdvance = !searchAdvance" class="btn btn-block btn-primary"><span class="fa fa-search fa-fw"></span>&nbsp;Avanzada</button>
    </div>
    <div class="col-sm-3 btn-group special" role="group">
      <button id="btnSearch" class="btn btn-info" (click)="getInvoices()">
        <span class="fa fa-search fa-fw"></span>&nbsp;Consultar</button>
      <button class="btn btn-warning" (click)="clearInvoices()">
        <span class="fas fa-eraser fa-fw"></span>&nbsp;Limpiar
      </button>
    </div>
  </div>
  <div *ngIf="searchAdvance" [@fade]="'in'" class="form-group form-row p-0 mb-1 justify-content-center">
    <div class="col-sm-1">
      <label class="control-label">Desde</label>
    </div>
    <div class="input-group col-sm-3">
      <span class="input-group-addon">
        <i class="fas fa-calendar-alt fa-fw"></i>
      </span>
      <input [(ngModel)]="fechaIni" class="form-control" type="date" name="fechaini" id="fechaini">
    </div>
    <div class="col-sm-1">
      <label class="control-label">Hasta</label>
    </div>
    <div class="input-group col-sm-3">
      <span class="input-group-addon">
        <i class="fas fa-calendar-alt fa-fw"></i>
      </span>
      <input [(ngModel)]="fechaFin" class="form-control" type="date" name="fechafin" id="fechafin">
    </div>
    <div class="col-sm-1">
      <label *ngIf="stationCode == null" class="control-label">Estación</label>
    </div>
    <div *ngIf="stationCode == null" class="input-group col-sm-3">
      <select class="form-control" [(ngModel)]="stationSelected">
        <option *ngFor="let station of stationsAll" [ngValue]="station">{{station.nombreEstacion}}</option>
      </select>
    </div>
  </div>
</div>
<div class="table-wrapper" id="table-Search">
  <div class="align-self-center no-more-tables">
    <table class="table table-hover table-sm table-striped table-bordered">
      <thead>
        <tr class="text-center">
          <th scope="col">Numero</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Creado</th>
          <th scope="col">Vence</th>
          <th scope="col">Estado</th>
          <th scope="col" title="R = Revisado&#xA;A = Autorizado&#xA;C = Causado&#xA;P = Pagado">Historial</th>
          <th scope="col">Valor</th>
          <th scope="col">Saldo</th>
          <th scope="col">Estación</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices" [@fade]="'in'" [class]="invoice == invoiceSel ? 'sel' : ''">
          <td data-title="Numero" class="text-center">{{invoice.numero}}</td>
          <td data-title="Proveedor" class="text-center" [title]="getNameProvider(invoice.proveedor)">{{invoice.proveedor}}</td>
          <td data-title="Creado" class="text-center">{{invoice.fecha | date:'dd/MM/yy' : '+0000'}}</td>
          <td data-title="Vence" class="text-center">{{invoice.fechaVen | date: 'dd/MM/yy' : '+0000'}}</td>
          <td data-title="Estado" class="text-center">{{nameNoveltyType(invoice.estado)}}</td>
          <td data-title="Historial" class="text-center">{{invoice.historial}}</td>
          <td data-title="Valor" class="text-right">{{invoice.valor | currency}}</td>
          <td data-title="Saldo" class="text-right">{{invoice.saldo | currency}}</td>
          <td data-title="Estación" class="text-center">{{getNameStation(invoice.estacion)}}</td>
          <td class="text-center">
            <div id="btns">
              <button (click)="addNovelty(invoice)" class="btn btn-info btn-sm" title="Novedad">
                <span class="fas fa-plus fa-fw"></span>
              </button>
              <button (click)="searchHistory(invoice)" class="btn btn-success btn-sm" title="Historial">
                <span class="fas fa-history fa-fw"></span>
              </button>
              <button *ngIf="invoice.rutaPago" (click)="getPaymentCertificate(invoice)" class="btn btn-secondary btn-sm"
                title="Descargar">
                <span class="fas fa-file-download fa-fw"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal-dialog (hide)="boolHistory = false" [visible]="boolHistory">
  <app-invoice-history [invoice]="invoiceSel">
  </app-invoice-history>
</app-modal-dialog>

<app-modal-dialog (hide)="boolNovelty = false" [visible]="boolNovelty">
  <app-invoice-novelty [invoice]="invoiceSel" (submiter)="resultNovelty($event)"></app-invoice-novelty>
</app-modal-dialog>

<app-modal-dialog (hide)="boolProvider = false" [visible]="boolProvider">
  <app-comp-search-provider (submiter)="assignProvider($event)"></app-comp-search-provider>
</app-modal-dialog>
