td {
    border: none !important;
    text-align: center;
}

.sem0{
    text-align: center;
    background-color: #d9edf7 !important;
    /* border-color: #bcdff1 !important; */
    /* color: #31708f !important; */
    border: none !important;
    border-top: 1px solid #dee2e6;
}

.sem1{
    background-color: #c3e6cb !important;
    /* color: #3c763d !important; */
    /* border-color : #d0e9c6 !important; */
    border-top: 1px solid #dee2e6;
}

.sem2{
    background-color: #ffeeba !important;
    /* color: #8a6d3b !important; */
    /* border-color : #faf2cc !important; */
    border-top: 1px solid #dee2e6;
}

.sem3{
    background-color: #f5c6cb !important;
    /* color: #a94442 !important; */
    /* border-color : #ebcccc !important; */
    border-top: 1px solid #dee2e6;
}