<div class="row text-center">
    <div class="col-sm-12 ">
        <span class="h4 text-center">Lista de Clientes opción Facturado con Saldo Histórico</span>
    </div>
</div>

<table class="table table-sm table-hover mb-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Código</th>
            <th scope="col" class="text-center">Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes; index as i" (click)="SeleccionarClient(cliente)">
            <th scope="row" cliente class="text-center">
                {{ i + 1 }}
            </th>
            <td class="text-center">{{ cliente.codCliente }}</td>
            <td>{{ cliente.nombre }}</td>
        </tr>
    </tbody>
</table>