<h4 class="text-center">Descargues Pendientes</h4>
<div class="table-wrapper" id="table-Search">
    <div class="align-self-center no-more-tables">
        <table class="table table-hover table-sm table-striped table-bordered table-responsive">
            <thead>
                <tr class="text-center">
                    <th scope="col">Recibido</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Factura #</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Pendiente</th>
                </tr>
            </thead>
            <tbody>
                <tr (dblclick)="selitem(item)" *ngFor="let item of pending" [@fade]="'in'">
                    <td data-title="Recibido" class="text-center">{{item.FECHA | date:'dd/MM/yyyy' : '+0000'}}</td>
                    <td data-title="Proveedor" class="text-center">{{item.NOMBRE}}</td>
                    <td data-title="Factura #" class="text-center">{{item.NUMERO}}</td>
                    <td data-title="Tipo" class="text-center">{{item.DESCRIPCION}}</td>
                    <td data-title="Cantidad" class="text-right">{{item.CANTIDAD | number}}</td>
                    <td data-title="Pendiente" class="text-right">{{item.PENDIENTE | number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-modal-dialog (hide)="showModal = false" [visible]="showModal" width="12">
    <div class="container">
    <form [formGroup]="formFuel" class="form-horizontal">
        <div class="row">
            <fieldset id="field1">
                <legend class="text-center">Datos de factura</legend>
                <div class="form-group form-inline align-items-start">
                    <label class="control-label col-sm-2">Fecha:</label>
                    <div class="input-group col-sm-4">
                        <input type="date" class="form-control" formControlName="FECHA2">
                    </div>
                    <label class="control-label col-sm-2">Proveedor:</label>
                    <div class="input-group col-sm-4">
                        <input type="text" class="form-control" formControlName="NOMBRE">
                    </div>
                </div>
                <div class="form-group form-inline align-items-start">
                    <label class="control-label col-sm-2">Factura #:</label>
                    <div class="input-group col-sm-4">
                        <input type="text" class="form-control" formControlName="NUMERO">
                    </div>
                    <label class="control-label col-sm-2">Tipo:</label>
                    <div class="input-group col-sm-4">
                        <input type="text" class="form-control" formControlName="DESCRIPCION">
                    </div>
                </div>
                <div class="form-group form-inline align-items-start">
                    <label class="control-label col-sm-2">Cantidad Total:</label>
                    <div class="input-group col-sm-4">
                        <input type="number" class="form-control" formControlName="CANTIDAD">
                    </div>
                    <label class="control-label col-sm-2">Pendiente por ingresar:</label>
                    <div class="input-group col-sm-4">
                        <input type="number" class="form-control" formControlName="PENDIENTE2">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset>
                <legend class="text-center">Ingresar descargue de combustible</legend>
                <div class="form-group form-inline align-items-start">
                    <label class="control-label col-sm-2">Fecha:</label>
                    <div class="input-group col-sm-4">
                        <input type="date" class="form-control" formControlName="FECHA">
                    </div>
                    <label class="control-label col-sm-2">Cantidad:</label>
                    <div class="input-group col-sm-4">
                        <input id="cant" type="number" class="form-control" formControlName="PENDIENTE">
                    </div>
                </div>
                <div class="form-group form-inline align-items-start">
                    <label class="control-label col-sm-2">Estacion:</label>
                    <div class="input-group col-sm-4">
                        <select name="estacion" id="estacion" class="form-control" formControlName="ESTACION">
                            <option *ngFor="let estacion of stations" [ngValue]="estacion">{{estacion.nombreEstacion}}
                            </option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">Detalle:</label>
                    <div class="input-group col-sm-4">
                        <textarea formControlName="DETALLE" class="form-control" cols="200" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="col-sm-6">
                        <button (click)="saveFuelTransfer()" class="btn btn-primary btn-block"
                            [disabled]="!formFuel.valid">
                            <span class="fa fa-floppy-o fa-fw"></span>&nbsp;Guardar</button>
                    </div>
                    <div class="col-sm-6">
                        <button (click)="clearInsert()" class="btn btn-danger btn-block">
                            <span class="fas fa-undo fa-fw"></span>&nbsp;Cancelar</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
</app-modal-dialog>
