<div class="form-group col-sm-12 p-0 form-inline mb-1 justify-content-center">
  <label class="control-label col-sm-1 m-0">Cliente</label>
  <div class="input-group col-sm-4">
    <div class="input-group-prepend">
      <button id="btnClient" class="btn btn-outline-secondary left" type="button" (click)="openModCli()">
        <span class="far fa-hand-pointer fa-fw"></span>
      </button>
    </div>
    <input [(ngModel)]="searchclientid" disabled class="form-control" type="text" name="searchUserid" id="searchUserid">
  </div>
  <div class="form-check col-sm-2 p-0 input-check">
    <input [(ngModel)]="searchClientStatus" class="mr-2" type="checkbox" value="Activo" id="searchUserStatus">
    <label class="form-check-label m-0 text-truncate" for="searchUserStatus">
      Activo
    </label>
  </div>
  <div class="col-sm-3 btn-group justify-content-center" role="group">
    <button class="btn btn-info" (click)="getClient()">
      <span class="fa fa-search fa-fw"></span>&nbsp;Consultar</button>
    <button class="btn btn-warning" (click)="clearClient()">
      <span class="fas fa-eraser fa-fw"></span>&nbsp;Limpiar
    </button>
  </div>
</div>
<div class="table-wrapper" id="table-users-Search">
  <div class="align-self-center no-more-tables" id="table-Users">
    <table class="table table-hover table-sm table-striped table-bordered">
      <thead>
        <tr class="text-center">
          <th scope="col">Nit</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado Cupo</th>
          <th scope="col">Cupo Asignado</th>
          <th scope="col">Cupo Disponible</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td data-title="Nit" class="text-center">{{client.codCliente}}</td>
          <td data-title="Nombre" class="text-center">{{client.nombre}}</td>
          <td data-title="Estado Cupo" class="text-center">{{client.estadoCupo == true ? 'Activo' : 'Inactivo'}}</td>
          <td data-title="Cupo Asignado" class="text-right">{{client.cupoAsignado | currency}}</td>
          <td data-title="Cupo Disponible" class="text-right">{{client.cupoDisponible| currency}}</td>
          <td class="text-center">
            <button routerLink="/station/order/{{client.codCliente}}" class="btn btn-info btn-sm" title="Pedidos">
              <span class="fas fa-shopping-cart fa-fw"></span>
            </button>
            <button routerLink="/station/payment/{{client.codCliente}}" class="btn btn-success btn-sm" title="Pagos">
              <span class="fas fa-hand-holding-usd fa-fw"></span>
            </button>
            <button routerLink="/station/consumption/{{client.codCliente}}" class="btn btn-warning btn-sm" title="Consumos">
              <span class="fas fa-gas-pump fa-fw"></span>
            </button>
            <button routerLink="/station/receivable/{{client.codCliente}}" class="btn btn-gray btn-sm" title="Cuentas de cobro">
              <span class="fas fa-file-alt fa-fw"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal-dialog [visible]="booleanClient" (hide)="booleanClient=false">
  <app-comp-search-client (submiter)="resultClient($event)"></app-comp-search-client>
</app-modal-dialog>