<!-- <form [formGroup]="turnoForm" (ngSubmit)="submit()" novalidate class="form-horizontal">
  <fieldset>
    <legend class="text-center">Ingresar turno</legend>
    <div class="form-group flex">
      <label class="control-label col-sm-2">Identificación:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="identificacion" #identificacion  (blur)="validarCedula(identificacion.value)" placeholder="Identificación" name="identificacion">
      </div>
    </div>
    <div class="form-group flex">
      <label class="control-label col-sm-2">Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" disabled>
      </div>
    </div>
    <div class="form-group flex">
      <label class="control-label col-sm-2">Apellido:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="apellido" placeholder="Apellido" name="apellido" disabled>
      </div>
    </div>
    <div class="form-group flex">
      <label class="control-label col-sm-2">Estación:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="estacion" placeholder="Estación" name="estacion" disabled>
      </div>
    </div>
    <div class="form-inline">
      <div class="col-sm-6">
        <label class="control-label">Fecha inicial:</label>
        <input type="date" class="form-control col-sm-8" id="fInicio" name="fInicio">
      </div>
      <div class="col-sm-6">
        <label class="control-label">Fecha final:</label>
        <input type="date" class="form-control col-sm-8" id="fFin" name="fFin">
      </div>
    </div>
    <div class="form-inline">
      <div class="col-sm-6">
        <label class="control-label">Hora inicial:</label>
        <input type="time" class="form-control col-sm-8" id="hInicio" name="hInicio">
      </div>
      <div class="col-sm-6">
        <label class="control-label">Hora final:</label>
        <input type="time" class="form-control col-sm-8" id="hFin" name="hFin">
      </div>
    </div>
    <div class="form-inline">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Guardar</button>
      </div>
      <div class="col-sm-6">
        <button type="reset" (click)="reset()" class="btn btn-danger btn-block">Reset</button>
      </div>
    </div>
  </fieldset>
</form> -->
