<form [formGroup]="invoiceForm" novalidate class="form-horizontal  mt-2 mb-5 ">
    <fieldset>
        <fieldset class="pt-0" id="datosProvee">
            <legend class="text-left">Datos del Proveedor</legend>
            <div class="form-group form-inline m-0  disable-color" *ngIf="idReturnedInvoice">
                <label class="control-label col-sm-2">Factura Anterior</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-address-card fa-fw"></i>
                        </span>
                    </div>
                    <input type="number" class="form-control" formControlName="devueltaFac" />
                </div>
                <label class="control-label col-sm-2">Proveedor Anterior:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-address-card fa-fw"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" formControlName="devueltaPro" />
                </div>
            </div>
            <div class="form-group form-inline">
                <label class="control-label col-sm-2">Nit proveedor:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-outline-secondary left" [disabled]="providerSel != null"
                            type="button" (click)="showBoolProvider()">
                            <span class="far fa-hand-pointer fa-fw"></span>
                        </button>
                    </div>
                    <input id="codPro" type="number" class="form-control form-control-sm" placeholder="Proveedor"
                        formControlName="proveedor" />
                </div>
                <label class="control-label col-sm-2">Nombre proveedor:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user fa-fw"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control text-uppercase form-control-sm"
                        placeholder="Nombre del proveedor" formControlName="nombreProveedor" />
                </div>
            </div>
        </fieldset>
        <fieldset class="mb-2" id="datos">
            <legend class="text-left rounded ">Datos de la Factura</legend>

            <div class="form-group form-inline">
                <label class="control-label col-sm-2">Número:</label>
                <div class="input-group col-sm-4 no-gutters">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-hashtag fa-fw"></i>
                        </span>
                    </div>
                    <input id="numInvoice" type="text" class="form-control" placeholder="N° Factura"
                        formControlName="numero"  />
                    <div class="input-group-append">
                        <button [disabled]="validFirt()" class="btn btn-block btn-primary" (click)="getprovider()"
                            title="Validar la Factura">
                            <span class="fa fa-check fa-fw"></span>Validar
                        </button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-block btn-danger" (click)="reset()" title="Reiniciar">
                            <span class="fas fa-eraser fa-fw"></span>Borrar
                        </button>
                    </div>

                </div>

                <label class="control-label col-sm-2">Fecha Factura:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt fa-fw"></i>
                        </span>
                    </div>
                    <input type="date" class="form-control text-center" formControlName="fecha" id="fechaFactura" />
                </div>
            </div>

            <div class="form-group form-inline">
                <label class="control-label col-sm-2">Fecha Recibido:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt fa-fw"></i>
                        </span>
                    </div>
                    <input type="date" class="form-control text-center" formControlName="fechaRec" readonly />
                </div>
                <label class="control-label col-sm-2">Fecha Vencimiento:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt fa-fw"></i>
                        </span>
                    </div>
                    <input type="date" class="form-control text-center" formControlName="fechaVen" />
                </div>
            </div>
        </fieldset>
        <!--fin Datos de la Factura-->
        <fieldset class="my-2 pt-0 pb-2" id="items" *ngIf="mostrarItems">
            <legend class="text-left">Items Factura</legend>
            <div class="row pt-0">
                <div class="col-sm-1 text-center"></div>
                <div class="col-sm-4 text-center">Articulo</div>
                <div class="col-sm-2 text-center">Cantidad</div>
                <div class="col-sm-2 text-center">Precio</div>
                <div class="col-sm-3 text-center">Total</div>
            </div>
            <div class="row text-right">
                <div class="col-sm-1 text-right">
                    <button class="btn btn-outline-success btn-sm btn-block">
                        <i class="fas fa-plus fa-fw"></i>
                    </button>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-arrow-alt-circle-down fa-fw"></i>
                            </button>
                        </div>

                        <input id="subtotal" (blur)="calcularValor()" currencyMask appLatestFocus type="text"
                            class="form-control form-control-sm" placeholder="Articulo" formControlName="descuento" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="subtotal" (blur)="calcularValor()" currencyMask appLatestFocus type="text"
                            class="form-control form-control-sm" placeholder="Cantidad" formControlName="descuento" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input id="subtotal" (blur)="calcularValor()" currencyMask appLatestFocus type="text"
                            class="form-control form-control-sm" placeholder="Cantidad" formControlName="descuento" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <input id="subtotal" (blur)="calcularValor()" currencyMask appLatestFocus type="text"
                            class="form-control form-control-sm" placeholder="Cantidad" formControlName="descuento" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="my-1" id="totales">
            <div class="form-group form-inline pt-4 pb-0">
                <label class="control-label col-sm-2 text-dark">Subtotal:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text dinero">
                            <i class="fa fa-usd fa-fw"></i>
                        </span>
                    </div>

                    <input id="subtotal" (blur)="calcularValor()" currencyMask appLatestFocus type="text"
                        class="form-control" placeholder="$ 0" formControlName="subtotal" />
                </div>
                <label class="control-label col-sm-2 text-dark">IVA:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text dinero">
                            <i class="fa fa-usd fa-fw"></i>
                        </span>
                    </div>
                    <input (blur)="calcularValor()" currencyMask appLatestFocus type="text" class="form-control"
                        placeholder="$ 0" formControlName="iva" />
                </div>
            </div>
            <div class="form-group form-inline">
                <label class="control-label col-sm-2 text-dark">Descuento:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text dinero">
                            <i class="fa fa-usd fa-fw"></i>
                        </span>
                    </div>
                    <input (blur)="calcularValor()" currencyMask appLatestFocus type="text" class="form-control"
                        placeholder="$ 0" formControlName="descuento" />
                </div>
                <label class="control-label col-sm-2 text-dark">Retención:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text dinero">
                            <i class="fa fa-usd fa-fw"></i>
                        </span>
                    </div>
                    <input (blur)="calcularValor()" currencyMask appLatestFocus type="text" class="form-control"
                        placeholder="$ 0" formControlName="retencion" />
                </div>
            </div>
            <div class="form-group form-inline">
                <label class="control-label col-sm-2 text-dark">Anticípo:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <button (click)="getAdvances()" class="btn btn-info" type="button" id="btn-input"
                            [disabled]="!boolAdvanceBtn">
                            Agregar
                        </button>
                    </div>
                    <input (blur)="calcularValor()" currencyMask appLatestFocus type="text" class="form-control"
                        placeholder="$ 0" formControlName="anticipo" />
                </div>
                <label class="control-label col-sm-2 text-dark">Total:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text dinero">
                            <i class="fa fa-usd fa-fw"></i>
                        </span>
                    </div>
                    <input readonly currencyMask appLatestFocus type="text" class="form-control" placeholder="$ 0"
                        formControlName="valor" />
                </div>
            </div>
        </fieldset>
        <div class="form-group form-inline">
            <label class="control-label col-sm-2">Tipo de Factura</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </span>
                </div>

                <select class="form-control" formControlName="clasificacionId">
                    <option *ngFor="let item of clasificacionInvoiceAll" [ngValue]="item.Id">{{
                        item.Descripcion
                    }}</option>
                </select>
            </div>

        </div>
        <div class="form-group form-inline">
            <div *ngIf="
                    providerSel && providerSel.tipo == 1;
                    then pagaEstacion;
                    else pagoPlanilla
                "></div>
            <ng-template #pagoPlanilla>
                <label class="control-label col-sm-2">Pago por planilla:</label>
                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text dinero">
                            <i class="fa fa-usd fa-fw"></i>
                        </span>
                    </div>
                    <input (blur)="calcularValor()" currencyMask appLatestFocus type="text" class="form-control"
                        placeholder="$ 0" formControlName="pagoPlanilla" />
                </div>
            </ng-template>
            <ng-template #pagaEstacion>
                <label class="control-label col-sm-2" for="pagaEstacion">Pagado por estación:</label>
                <div class="form-check col-sm-4">
                    <input id="pagaEstacion" class="form-check-input" type="checkbox" formControlName="pagaEstacion" />
                </div>
            </ng-template>
        </div>


        <div class="form-group form-inline" *ngIf="stationCode == null">
            <label class="control-label col-sm-2">Estación:</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-gas-pump fa-fw"></i>
                    </span>
                </div>

                <select #noveltyType class="form-control" formControlName="estacion">
                    <option *ngFor="let stationItem of stationsAll" [ngValue]="stationItem">
                        {{ stationItem.nombreEstacion }}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline align-items-start" *ngIf="
                providerSel &&
                providerSel.tipo == 1 &&
                providerSel.tipoMayorista == 'L'
            " [@fade]="'in'">
            <label class="control-label col-sm-2">Guía:</label>
            <div class="input-group col-sm-4">
                <input type="tel" class="form-control" formControlName="guia" />
            </div>
            <label class="control-label col-sm-2">Planta Origen:</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-industry fa-fw"></i>
                    </span>
                </div>

                <select #noveltyType class="form-control" formControlName="planta">
                    <option *ngFor="let plant of plants" [ngValue]="plant">{{
                        plant.DESCRIPCION
                    }}</option>
                </select>
            </div>
        </div>
        <div class="form-group form-inline align-items-start" *ngIf="providerSel && providerSel.tipo == 1"
            [@fade]="'in'">
            <ng-container *ngIf="providerSel.tipoMayorista == 'L'">
                <label class="control-label col-sm-2">Cargado por:</label>

                <div class="input-group col-sm-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-gas-pump fa-fw"></i>
                        </span>
                    </div>
                    <select #noveltyType class="form-control" formControlName="cargado">
                        <option *ngFor="let stationIt of stationFilter" [ngValue]="stationIt">
                            {{ stationIt.nombreEstacion }}</option>
                    </select>
                </div>
            </ng-container>
            <label class="control-label col-sm-2">Distribución en </label>
            <div class="col-sm-4">
                <div class="form-group pb-1" formArrayName="listCantArt" *ngFor="
                        let item of invoiceForm.get('listCantArt')['controls'];
                        let i = index
                    ">
                    <div [formGroupName]="i" class="form-row w-100">
                        <label class="control-label col-sm-6">{{
                            item.get("descripcion").value | titlecase
                        }}</label>
                        <div class="col-sm-6 input-group">
                            <input type="number" class="form-control text-right" formControlName="cantidad" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="control-label col-sm-4">Detalle:</label>
            <div class="input-group col-sm-8">
                <textarea formControlName="detalle" class="form-control text-uppercase" cols="200" rows="3"></textarea>
            </div>
        </div>

        <div class="form-inline">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
                <button (click)="submit()" class="btn btn-primary btn-block" [disabled]="!invoiceForm.valid">
                    <span class="fa fa-floppy-o fa-fw"></span>&nbsp;Guardar
                </button>
            </div>
            <div class="col-sm-3">
                <button *ngIf="!idReturnedInvoice" (click)="reset()" class="btn btn-danger btn-block">
                    <span class="fas fa-eraser fa-fw"></span>&nbsp;Limpiar
                </button>
                <button *ngIf="idReturnedInvoice" (click)="return()" class="btn btn-danger btn-block">
                    <span class="fas fa-undo fa-fw"></span>&nbsp;Cancelar
                </button>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </fieldset>
    <br />
</form>

<div *ngIf="boolAdvanceForm == true" id="overlay" [@fade]="'in'">
    <div id="addAdvance" (click)="boolAdvanceForm = false"></div>
    <div id="formAddAdvance" class="col-md-7">
        <div class="container p-3" id="login" [@fade]="'in'">
            <table class="table table-hover table-sm table-striped table-bordered">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">Numero</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let advance of advances" [@fade]="'in'">
                        <td data-title="Numero" class="text-center">
                            {{ advance.idAnticipo }}
                        </td>
                        <td data-title="Fecha" class="text-center">
                            {{ advance.fecha | date: "dd/MM/yy":"+0000" }}
                        </td>
                        <td data-title="Valor" class="text-right">
                            {{ advance.valor | currency }}
                        </td>
                        <td class="text-center">
                            <div id="btns">
                                <button *ngIf="advance['Sel'] != true" (click)="addAdvance(advance)"
                                    class="btn btn-success btn-sm" title="Seleccionar">
                                    <span class="fas fa-plus fa-fw"></span>
                                </button>
                                <button *ngIf="advance['Sel'] == true" (click)="removeAdvance(advance)"
                                    class="btn btn-danger btn-sm" title="Seleccionar">
                                    <span class="fas fa-minus fa-fw"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-inline text-right">
                <div class="col-sm-4"></div>
                <label class="control-label col-sm-4">Total Anticipo:</label>
                <div class="input-group col-sm-4 pr-0 my-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-usd fa-fw"></i>
                        </span>
                    </div>
                    <input currencyMask [options]="notdecimal" appLatestFocus type="text"
                        class="form-control form-control-sm" [(ngModel)]="valorAnticipo" />
                </div>
            </div>
            <div class="form-inline justify-content-end">
                <button (click)="selectedAdvances()" class="btn btn-sm btn-success float-right">
                    <span class="fas fa-check fa-fw"></span>&nbsp;Seleccionar
                </button>
            </div>
        </div>
    </div>
</div>
<app-modal-dialog (hide)="boolProvider = false" [visible]="boolProvider">
    <app-comp-search-provider (submiter)="assignProvider($event)"></app-comp-search-provider>
</app-modal-dialog>
