<form [formGroup]="returnForm" novalidate class="form-horizontal">
  <fieldset class="col-sm-9 mx-auto">
    <legend class="text-center">Crear Devolución</legend>
    <div class="row form-group">
      <label class="control-label col-sm-2">Fecha:</label>
      <div class="col-sm-4">
        <input appAutofocus type="date" class="form-control" formControlName="date">
      </div>
      <label class="control-label col-sm-2">Cantidad</label>
      <div class="col-sm-4">
        <div class="form-group pb-1" formArrayName="list"
          *ngFor="let item of returnForm.get('list')['controls']; let i = index;">
          <div [formGroupName]="i" class="form-row w-100">
            <label class="control-label col-sm-6">{{item.get('DESCRIPCION').value | titlecase }}</label>
            <div class="col-sm-6 input-group">
              <input type="number" class="form-control text-right" formControlName="CANTIDAD">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="control-label col-sm-4">Detalle:</label>
      <div class="input-group col-sm-8">
        <textarea formControlName="detail" class="form-control" cols="200" rows="3"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button (click)="submiterForm()" class="btn btn-primary btn-block" [disabled]="!returnForm.valid">
          <i class="fa fa-floppy-o"></i>&nbsp;Guardar</button>
      </div>
      <div class="col-sm-6">
        <button (click)="reset()" class="btn btn-danger btn-block">
          <i class="fas fa-eraser"></i>&nbsp;Reset</button>
      </div>
    </div>
  </fieldset>
</form>
