<form [formGroup]="profileForm" novalidate class="form-horizontal">
  <fieldset>
    <legend class="text-center">Editar Perfil</legend>
    <div class="form-group form-inline">
      <label class="control-label col-sm-2">Nombre:</label>
      <div class="input-group col-sm-4">
        <span class="input-group-addon">
          <i class="fas fa-user fa-fw"></i>
        </span>
        <input type="text" class="form-control" placeholder="nombre del perfil" formControlName="nombre">
      </div>
      <label class="control-label col-sm-2">Descripción:</label>
      <div class="input-group col-sm-4">
        <span class="input-group-addon">
          <i class="fas fa-user fa-fw"></i>
        </span>
        <input type="text" class="form-control" placeholder="descripción del perfil" formControlName="descripcion">
      </div>
    </div>
    <div class="form-inline">
      <div class="col-sm-6">
        <button (click)="submitAddForm()" class="btn btn-primary btn-block" [disabled]="!profileForm.valid || sending">
          <i class="fa fa-floppy-o fa-fw"></i>&nbsp;Guardar</button>
      </div>
      <div class="col-sm-6">
        <button (click)="cancel()" class="btn btn-danger btn-block">
          <i class="fas fa-undo fa-fw"></i>&nbsp;Cancelar</button>
      </div>
    </div>
  </fieldset>
</form>