<div [@fade]="'in'">
  <form [formGroup]="noveltyForm" novalidate class="form-horizontal">
    <fieldset>
      <div class="form-inline">
        <label class="control-label col-sm-2">Desde:</label>
        <div class="input-group col-sm-4">
          <input (ngModelChange)="validDate()" type="date" class="form-control" id="fechaini" formControlName="fechaIni">
        </div>
        <label class="control-label col-sm-2">Hasta:</label>
        <div class="input-group col-sm-4">
          <input (ngModelChange)="validDate()" type="date" class="form-control" id="fechaini" formControlName="fechaFin">
        </div>
      </div>
      <div class="form-inline">
        <label class="control-label col-sm-2">Días:</label>
        <div class="input-group col-sm-4">
          <span class="input-group-addon">
            <i class="fas fa-calendar-alt fa-fw"></i>
          </span>
          <input type="number" class="form-control" id="dias" formControlName="dias">
        </div>
        <label class="control-label col-sm-2">Detalle:</label>
        <div class="input-group col-sm-4">
          <textarea class="form-control" formControlName="detalle" cols="150" rows="2"></textarea>
        </div>
      </div>
      <div class="form-inline">
        <div class="col-sm-6">
          <button (click)="submit()" class="btn btn-primary btn-block" [disabled]="!noveltyForm.valid">
            <span class="fas fa-floppy-o fa-fw"></span>&nbsp;Guardar</button>
        </div>
        <div class="col-sm-6">
          <button (click)="reset()" class="btn btn-danger btn-block">
            <span class="fas fa-eraser fa-fw"></span>&nbsp;Limpiar</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
