.btn-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nullMargin {
    margin: 0px;
}

#idReceivable {
    color: red;
}

#divCuentaCobro {
    background-color: rgb(236, 247, 248);
    padding: 0.8rem;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}