<form [formGroup]="addPaymentForm" novalidate class="form-horizontal">
    <fieldset class="container m-auto p-4">
        <div class="form-group form-inline">
            <label class="control-label col-sm-2">Fecha de pago:</label>
            <div class="input-group col-sm-4">
                <input type="date" class="form-control" formControlName="fechaPago">
            </div>
            <div class="col-sm-6" *ngIf="client.tipoCupo==1" [@fade]="'in'">
                <div class="btn-group special">
                    <button class="btn btn-primary" (click)="assigP(true)">Asignar pago</button>
                    <button class="btn btn-secondary" (click)="assigP(false)">No asignar</button>
                </div>
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="control-label col-sm-2">Identificación:</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <button id="btnBoolClient" class="btn btn-outline-secondary left" type="button" (click)="boolClient(1)">
                        <span class="far fa-hand-pointer fa-fw"></span>
                    </button>
                </div>
                <input #searchIDPayment (keyup.enter)="SearchClientPayment(searchIDPayment.value)" type="number" class="form-control" placeholder="ID del cliente" formControlName="paymentId">
                <button class="btn btn-info btn-left" type="button" (click)="SearchClientPayment(searchIDPayment.value)">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <label class="control-label col-sm-2">Nombre:</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa-fw"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre del cliente" name="nombre" formControlName="paymentName">
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="control-label col-sm-2">Forma de pago:</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i
                            class="fas fa-hand-holding-usd fa-fw"></i></span>
                </div>
                <select class="form-control" formControlName="formaPago">
                    <option *ngFor="let item of formasPago" [ngValue]="item">{{item.text}}</option>
                </select>
            </div>
            <label class="col-sm-2">Pago:</label>
            <div class="input-group col-sm-4">
                <input (keyup)="RestaTotal()" id="base" currencyMask [options]="notdecimal" appLatestFocus class="form-control" placeholder="$ 0.00" formControlName="Valorpago">
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="control-label col-sm-2">Tipo de Retención:</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-percent"></i></span>
                </div>
                <select class="form-control" formControlName="tipoRetencion" (change)="CalculoImpuesto()">
                    <option>NO APLICA</option>
                    <option *ngFor="let item of tiposImpuestos" [ngValue]="item">{{item.text}}</option>
                </select>
            </div>
            <label class="col-sm-2">Retención:</label>
            <div class="input-group col-sm-4">
                <input (keyup)="RestaTotal()" #input id="retencion" currencyMask [options]="notdecimal" appLatestFocus class="form-control" placeholder="$ 0.00" formControlName="montoRentencion">
            </div>
        </div>

        <div class="form-group form-inline">
            <label class="control-label col-sm-2">Detalles:</label>
            <div class="input-group col-sm-4">
                <textarea name="detalles" id="detalles" cols="45" rows="2" formControlName="detalles"></textarea>
            </div>
            <label class="col-sm-2">Total:</label>
            <div class="input-group col-sm-4">
                <input id="valorPag" currencyMask [options]="notdecimal" appLatestFocus class="form-control" placeholder="$ 0.00" formControlName="valuePayment">
            </div>
        </div>

        <div class="form-group form-inline" *ngIf="assignPago" [@fade]="'in'">
            <label class="col-sm-2">Cuenta de cobro</label>
            <div class="input-group col-sm-4">
                <div class="input-group-prepend">
                    <button id="btnCuCobro" class="btn btn-outline-secondary left" type="button" (click)="getReceivable()">
                        <i class="far fa-hand-pointer fa-fw"></i>
                    </button>
                </div>
                <input type="number" class="form-control" formControlName="cuentaCobroNum" readonly>
            </div>
            <label class="col-sm-2">Saldo!</label>
            <div class="input-group col-sm-4">
                <input currencyMask [options]="notdecimal" appLatestFocus class="form-control" placeholder="$ 0" readonly formControlName="saldoCuentaCobro">
            </div>
        </div>
        <div class="form-group form-inline" *ngIf="assignPago && PagoMayorACuentaCobro && receivableSelected" [@fade]="'in'">
            <div class="alert alert-danger col-sm-9 m-auto" role="alert">
                Advertencia: El pago (${{ valorPago | number }}) es mayor al saldo (${{ valorCuentaCobro | number}}) de la cuenta de cobro.
                <ul>
                    <li>Se creará un pago por el valor (${{ valorCuentaCobro | number}}) asignado a la cuenta de cobro numero {{receivableSelected.num}}.
                    </li>
                    <li>Se creará un pago por la diferencia (${{ valorPago - valorCuentaCobro | number }}) pendiente por asignar.
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-inline justify-content-center">
            <div class="col-sm-5 ">
                <button id="btnSave" (click)="submitAddPayment()" class="btn btn-primary btn-block" [disabled]="!addPaymentForm.valid">
                    <span class="fa fa-save"></span>&nbsp;Guardar</button>
            </div>
            <div class="col-sm-5 ">
                <button (click)="resetPaymentForm()" class="btn btn-danger btn-block">
                    <span class="fas fa-eraser"></span>&nbsp;Limpiar</button>
            </div>
        </div>
    </fieldset>
</form>
<app-modal-dialog [visible]="displayDialogReceivable" (hide)="displayDialogReceivable=false">
    <div class="table-wrapper container" id="table-Consumption-Search">
        <div class="align-self-center no-more-tables" id="table-Consumption-Search">
            <div id="print-payments">
                <table class="table table-hover table-sm table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">No</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Valor</th>
                            <th class="text-center">Saldo</th>
                            <th class="text-center">Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of receivables; let i = index">
                            <td class="text-center" data-title="num">{{item.id}}</td>
                            <td class="text-center" data-title="Id">{{item.num}}</td>
                            <td class="text-center" data-title="Fecha">{{item.fecha | date: 'dd/MM/yyyy' : '+0000'}}
                            </td>
                            <td class="text-right" data-title="Valor">{{item.valor | currency}}</td>
                            <td class="text-right" data-title="Saldo">{{item.saldo | currency}}</td>
                            <td>
                                <button [id]="'btnReceivable'+i" class="btn btn-info btn-block" (click)="ReceivableSelected(item)">
                                    <i class="fa fa-check"></i>&nbsp;Seleccionar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-modal-dialog>
<app-modal-dialog [visible]="boolSearchClient" (hide)="boolSearchClient = false">
    <app-comp-search-client (submiter)="getCodClient($event)"></app-comp-search-client>
</app-modal-dialog>