<div class="container justify-content-center mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-8 justify-content-center">
      <table
        class="table table-sm table-striped animated table-responsive-sm fadeIn fast table-hover  table-bordered mb-4 ">
        <thead class="thead-dark ">
          <tr>
            <th scope="col" class="text-center">N°</th>
            <th scope="col" class="text-center">Cód</th>
            <th scope="col">Nombre</th>
            <th scope="col" class="text-center">Ventas</th>
            <th scope="col" colspan="2" class="text-center">Ultimo Registro</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estacion of stationsAll; index as i">
            <td class="text-center">
              {{ i+ 1  }}
            </td>
            <td class="text-center">
              {{ estacion.IDESTACION }}
            </td>
            <td>
              {{ estacion.NOMBRE }}
            </td>

            <td class="text-center">
              {{ estacion.MONTO | currency  }}
            </td>
            <td class="text-center">
              {{ estacion.FECHAULTIMOREG | date: "dd/MM/yyyy" }}
            </td>
            <td class="text-center justify-content-center">
              <button class="btn btn-sm" title="Detalles" (click)="VerModal(estacion)"><i
                  class="fas fa-info-circle fa-2x"></i></button>
            </td>

          </tr>


        </tbody>

      </table>
    </div>
  </div>

</div>

<app-modal-dialog (hide)="verReporteMod = false" [visible]="verReporteMod">
  <app-report-ssrs #target [show]="verReporteMod" [https]="true" serverReport="simovil.mileniumgas.com:1451/ReportsServer"
    [urlReport]="nameReport" [parameters]="params" [width]="widthReport" [showParameter]="false">
  </app-report-ssrs>

</app-modal-dialog>