#detalle {
    width: 150px;
}

#cantidad, #Porcentaje {
    width: 40px;
}

Fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    margin: 10px;
}
