.head {
    background: black;
    color: white;
    height: 40px;
}

#inputVentaNormal {
    background-color: darkorange;
}


/*#Botonplus {*/


/* position: absolute;
    right: 120px;
    z-index: 10; */


/*}*/