<div class="col-sm-12">
  <button (click)="getAdvances()" id="refresh" class="btn btn-sm btn-secondary">
    <span class="fas fa-refresh fa-fw"></span>&nbsp;Refrescar
  </button>
  <button (click)="configTb()" id="configTable" class="btn btn-sm btn-outline-info">
    <span class="fas fa-cogs fa-fw"></span>
  </button>
  <legend class="text-center">Anticipos Pendientes
  </legend>
  <div class="table-wrapper">
    <div class="align-self-center no-more-tables" id="table-advances">
      <table class="table table-hover table-dark table-sm table-striped">
        <thead>
          <tr class="text-center">
            @if (exits('Número')) {
              <th scope="col">Número</th>
            }
            @if (exits('Proveedor')) {
              <th scope="col">Proveedor</th>
            }
            @if (exits('Nombre')) {
              <th scope="col">Nombre</th>
            }
            @if (exits('Fecha')) {
              <th scope="col">Fecha</th>
            }
            @if (exits('Estado')) {
              <th scope="col">Estado</th>
            }
            @if (exits('Valor')) {
              <th scope="col">Valor</th>
            }
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (advance of advances; track advance) {
            <tr [ngClass]="porCobrar(advance.estado)" [@fade]="'in'">
              @if (exits('Número')) {
                <td data-title="Número" class="text-center">{{advance.idAnticipo}}</td>
              }
              @if (exits('Proveedor')) {
                <td data-title="Proveedor" class="text-center" [title]="getNameProvider(advance.proveedor)">{{advance.proveedor}}</td>
              }
              @if (exits('Nombre')) {
                <td data-title="Nombre" class="text-center">{{getNameProvider(advance.proveedor)}}</td>
              }
              @if (exits('Fecha')) {
                <td data-title="Fecha" class="text-center">{{advance.fecha | date: 'dd/MM/yy' : '+0000'}}
                </td>
              }
              @if (exits('Estado')) {
                <td data-title="Estado" class="text-center">{{getStatusName(advance.estado)}}</td>
              }
              @if (exits('Valor')) {
                <td data-title="Valor" class="text-right">{{advance.valor | currency }}</td>
              }
              <td data-title="Acciones" class="text-center">
                <div id="btns">
                  <button class="btn btn-info btn-sm" (click)="addNovelty(advance)" title="Novedad">
                    <span class="fas fa-plus fa-fw"></span>
                  </button>
                  <button (click)="searchHistory(advance)" class="btn btn-success btn-sm" title="Historial">
                    <span class="fas fa-history fa-fw"></span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-modal-dialog [visible]="boolHistory" (hide)="boolHistory = false">
  <app-advance-history [advance]="advanceSel"></app-advance-history>
</app-modal-dialog>
<app-modal-dialog [visible]="boolNovelty" (hide)="boolNovelty = false">
  <app-advance-novelty [advance]="advanceSel" (submiter)="resultNovelty($event)"></app-advance-novelty>
</app-modal-dialog>
<app-modal-dialog (hide)="booleanTableConfig = false" [visible]="booleanTableConfig" width="4">
  <app-table-config [tableName]="nameTAbleConfig" (submiter)="resultTableConfig()"></app-table-config>
</app-modal-dialog>