@if (invoice) {
  <h5 class="text-center py-2">Factura #{{ invoice.numero }}</h5>
}
@if (show) {
  <div class="table-wrappep" id="table-Search">
    <div class="align-self-center no-more-tables">
      <table class="table table-hover table-sm table-striped table-bordered">
        <thead class="thead-light">
          <tr class="text-center">
            <th scope="col">Tipo</th>
            <th scope="col">Usuario</th>
            <th scope="col">Area</th>
            <th scope="col">Fecha</th>
            <th scope="col">Detalle</th>
            @if (boolDev) {
              <th scope="col">Fac. Dev</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (novedad of invoice.novedadFactura; track novedad) {
            <tr>
              <td data-title="Tipo" class="text-center">
                {{ getNameNovelty(novedad.tipoNovedad) }}
              </td>
              <td data-title="Usuario" class="text-center">
                {{ novedad.usuario }}
              </td>
              <td data-title="Area" class="text-center">
                {{ novedad.perfil }}
              </td>
              <td data-title="Fecha" class="text-center">
                {{
                novedad.fecha
                | date: 'dd/MM/yyyy hh:mm:ss a':'-0500'
                }}
              </td>
              <td data-title="Detalle" class="text-center">
                {{ novedad.detalle }}
              </td>
              @if (boolDev) {
                <td
                  data-title="Fac. Dev."
                  class="text-center"
                  >
                  {{ novedad.facturaDev }}
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
