<div class="form-group col-sm-12 p-0 form-inline mb-1 justify-content-center">
  <label class="control-label col-sm-1 m-0">Opción</label>
  <div class="input-group col-sm-4">
    <span class="input-group-addon">
      <i class="fas fa-user fa-fw"></i>
    </span>
    <input [(ngModel)]="searchString" (keyup.enter)="getOption()" class="form-control" type="text" name="searchUserid"
      id="searchUserid">
  </div>
  <div class="form-check col-sm-2 p-0 input-check">
    <input [(ngModel)]="searchStatus" class="mr-2" type="checkbox" value="Activo" id="searchUserStatus">
    <label class="form-check-label m-0 text-truncate" for="searchUserStatus">
      Activo
    </label>
  </div>
  <div class="col-sm-3 btn-group justify-content-center" role="group">
    <button class="btn btn-info" (click)="getOption()">
      <span class="fa fa-search fa-fw"></span>&nbsp;Consultar</button>
    <button class="btn btn-warning" (click)="clear()">
      <span class="fas fa-eraser fa-fw"></span>&nbsp;Limpiar
    </button>
  </div>
</div>
<div class="table-wrapper" id="table-users-Search">
  <div class="align-self-center no-more-tables" id="table-Users">
    <table class="table table-hover table-sm table-striped table-bordered">
      <thead>
        <tr class="text-center">
          <th scope="col">Id</th>
          <th scope="col">Descripción</th>
          <th scope="col">Padre</th>
          <th scope="col">Url</th>
          <th scope="col">Icono</th>
          <th scope="col">Estado</th>
          <th scope="col">Visible</th>
          <th scope="col">Orden</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let option of options">
          <td data-title="Id" class="text-center">{{option.ID}}</td>
          <td data-title="Descripción" class="text-center">{{option.DESCRIPCION}}</td>
          <td data-title="Padre" class="text-center">{{option.OPCION_PADRE}}</td>
          <td data-title="Url" class="text-center">{{option.URL}}</td>
          <td data-title="Icono" class="text-center">{{option.ICONO}}</td>
          <td data-title="Estado" class="text-center">
            <span [class]="option.ESTADO ? 'fa fa-check-circle fa-fw text-success' : 'fa fa-times-circle fa-fw text-danger'"></span>
          </td>
          <td data-title="Visible" class="text-center">
            <span [class]="option.VISIBLE ? 'fa fa-check-circle fa-fw text-success' : 'fa fa-times-circle fa-fw text-danger'"></span>
          </td>
          <td data-title="Orden" class="text-center">{{option.ORDEN_MENU}}</td>
          <td data-title="Acciones" class="text-center">
            <div id="btns">
              <button (click)="edit(option)" class="btn btn-info btn-sm" title="Editar">
                <span class="fas fa-pencil-alt fa-fw"></span>
              </button>
              <button (click)="clone(option)" class="btn btn-secondary btn-sm" title="Clonar">
                <span class="fas fa-clone fa-fw"></span>
              </button>
              <button (click)="delete(option)" class="btn btn-danger btn-sm" title="Borrar">
                <span class="fas fa-trash-alt fa-fw"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal-dialog [visible]="boolEdit" (hide)="boolEdit = false">
<app-option-edit [options]="options" [option]="optionSel" (submiter)="resultEdit($event)"></app-option-edit>
</app-modal-dialog>