<ul class="nav nav-tabs mb-1" id="myTab" role="tablist">
  <li class="nav-item" aria-selected="true">
    <a routerLink="./search" class="nav-link" routerLinkActive="active" id="search-tab" data-toggle="tab" role="tab" aria-controls="search"
      aria-selected="true">
      <span class="fas fa-search fa-fw"></span>&nbsp;
      <span class="nameTab">Consultar cliente</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="./add" class="nav-link" routerLinkActive="active" id="add-tab" data-toggle="tab" role="tab" aria-controls="search"
      aria-selected="true">
      <span class="fas fa-user-plus fa-fw"></span>&nbsp;
      <span class="nameTab">Agregar</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="./config" class="nav-link" routerLinkActive="active" id="edit-tab" data-toggle="tab" role="tab" aria-controls="search"
      aria-selected="true">
      <span class="fas fa-user-cog fa-fw"></span>&nbsp;
      <span class="nameTab">Saldos Iniciales</span>
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="./edit" class="nav-link" routerLinkActive="active" id="edit-tab" data-toggle="tab" role="tab" aria-controls="search"
      aria-selected="true">
      <span class="fas fa-user-edit fa-fw"></span>&nbsp;
      <span class="nameTab">Editar</span>
    </a>
  </li>

  <li class="nav-item">
    <a routerLink="./EstadodeCuentas" class="nav-link" routerLinkActive="active" id="edit-tab" data-toggle="tab" role="tab" aria-controls="search"
      aria-selected="true">
      <span class="fas fa-user-edit fa-fw"></span>&nbsp;
      <span class="nameTab">Estado de Cuenta</span>
    </a>
  </li>
</ul>
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
