<div class="col-xs-12">
  <h1 class="text-center mt-5">
    SIMOVIL&nbsp;<span id="version">V{{version}}</span>
  </h1>
  <div class="text-center" id="movilgas">
    <img src="https://www.google.com/a/mileniumgas.com/images/logo.gif?alpha=1&service=google_default" alt="Movilgas" [@fade]="'in'">
  </div>
  <br>
  <br>
  <h5 class="text-center text-uppercase ">Bienvenido: {{user.Nombre}}</h5>
  <h4 class="text-center">{{ user.Rol }}</h4>
  <h6 class="text-center">Versión&nbsp;{{version}}</h6>
  <br>
</div>
