<div class="main pb-1" *ngIf="cliente">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label">Nombre del cliente</label>
                    <input
                        type="text"
                        class="form-control"
                        disabled
                        [(ngModel)]="cliente.nombre"
                    />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Fecha inicial</label>
                    <input
                        id="fechaIni"
                        type="date"
                        [(ngModel)]="fechaIni"
                        class="form-control"
                    />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">Fecha corte</label>
                    <input
                        id="fechaCorte"
                        type="date"
                        [(ngModel)]="fechaFin"
                        class="form-control"
                    />
                </div>
            </div>
            <div class="col-sm-3 pt-2">
                <label class="control-label mb-2"></label>
                <button
                    [disabled]="false"
                    (click)="consultarConsumos()"
                    class="btn btn-primary mt-4"
                >
                    <i class="fas fa-file-invoice"></i>&nbsp;Consultar
                </button>
                <button
                    pButton
                    pRipple
                    type="button"
                    class="p-button-secondary mt-4"
                    (click)="Retenciones()"
                    label="Retenciones"
                    *ngIf="consumosAll && consumosAll.length > 0"
                ></button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-5" *ngIf="retenciones">
                <select
                    class="form-control"
                    [(ngModel)]="impuesto"
                    (change)="CalculoRet()"
                >
                    <option
                        *ngFor="let item of tiposImpuestos"
                        [ngValue]="item"
                    >
                        {{ item.text }}
                    </option>
                </select>
            </div>
            <div class="col-sm-3" *ngIf="retenciones">
                <input
                    type="text"
                    class="form-control"
                    currencyMask
                    [disabled]="impuesto.id !== 8"
                    [(ngModel)]="impuestoValor"
                />
            </div>
            <div class="col-sm-2">
                <button
                    type="button"
                    class="btn btn-secondary mr-1"
                    *ngIf="retenciones"
                    (click)="AgregarRetencion()"
                >
                    <i class="fas fa-plus"></i>
                </button>
                <button
                    *ngIf="retenciones"
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-times"
                    class="p-button-rounded p-button-danger"
                    (click)="Retenciones()"
                ></button>
            </div>
            <div class="col-sm-2">
             <ng-template> <span> {{ mensaje }} </span> </ng-template>
            </div>
        </div>
        <div
            class="card mb-4 text-center"
            *ngIf="retencionesAll && retencionesAll.length > 0"
        >
            <p-table
                [value]="retencionesAll"
                [scrollable]="true"
                scrollHeight="200px"
                [responsive]="true"
            >
                <ng-template pTemplate="header">
                    <tr >
                        <th style="width: 80px" class="text-center">Id</th>
                        <th style="width: 90px" class="text-center">
                            Descripcion
                        </th>
                        <th style="width: 90px" class="text-center">Valor</th>
                        <th style="width: 60px" class="text-center">Opc</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr *ngFor="let customer of retencionesAll; index as i">
                        <td style="width: 80px" class="text-center">
                            {{ customer.id }}
                        </td>
                        <td style="width: 90px" class="text-center">
                            {{ customer.DETALLE }}
                        </td>
                        <td style="width: 90px" class="text-center">
                            {{ customer.valor | currency }}
                        </td>
                        <td style="width: 60px" class="text-center">
                            <button (click)="EliminarRetencion( i )" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="row" *ngIf="consumosAll && consumosAll.length > 0">
            <div class="col-sm-12">
                <div class="card text-center">
                    <p-table
                        [value]="consumosAll"
                        [scrollable]="true"
                        scrollHeight="200px"
                        [responsive]="true"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 80px" class="text-center">
                                    Id
                                </th>
                                <th style="width: 90px" class="text-center">
                                    Ticket
                                </th>
                                <th style="width: 95px" class="text-center">
                                    Fecha
                                </th>
                                <th style="width: 120px" class="text-center">
                                    Hora
                                </th>
                                <th style="width: 95px" class="text-center">
                                    Placa
                                </th>
                                <th class="text-center">Combustible</th>
                                <th style="width: 90px" class="text-center">
                                    Cant.
                                </th>
                                <th style="width: 120px" class="text-center">
                                    Valor
                                </th>
                                <th style="width: 60px" class="text-center">
                                    Opc
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" >
                            <tr *ngFor="let customer of consumosAll; index as i">
                                <td style="width: 80px" class="text-center">
                                    {{ customer.id }}
                                </td>
                                <td style="width: 90px" class="text-center">
                                    {{ customer.ConsecutivoEstacion }}
                                </td>
                                <td style="width: 95px" class="text-center">
                                    {{
                                        customer.fechaConsumo | date: 'dd-MM-yy'
                                    }}
                                </td>
                                <td style="width: 120px" class="text-center">
                                    {{ customer.horaConsumo }}
                                </td>
                                <td style="width: 95px" class="text-center">
                                    {{ customer.placa }}
                                </td>
                                <td>{{ customer.TipoCombustible }}</td>
                                <td style="width: 90px" class="text-center">
                                    {{ customer.cantidad }}
                                </td>
                                <td style="width: 120px" class="text-right">
                                    {{ customer.valor | currency }}
                                </td>
                                <td style="width: 60px" class="text-center">
                                    <button (click)="EliminarConsumo( i )"class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h5>Total Tickets: {{ totalTickets }}</h5>
                            </div>

                            <div class="col-sm-4">
                                <h5>
                                    Total Galones:
                                    {{ totalCantidad | number: '.2-2' }}
                                </h5>
                            </div>
                            <div class="col-sm-4">
                                <h5>
                                    Total Valor: {{ totalValor | currency }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <button type="button" (click)="Guardar()" class="btn btn-primary btn-block shadow">
                    Crear Cuenta de Cobro
                </button>
            </div>
            <div class="col-sm-3">
                <button
                    type="button"
                    class="btn btn-danger btn-block shadow"
                    (click)="Cancel()"
                >
                    Cancelar
                </button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
