#lblRetencion:hover {
    cursor: pointer;
}

.boton {
    display: inline-block;
    background: #e20c16;
    border-radius: 15px;
    color: #fff;
    border: 7px solid #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.boton:hover {
    border: 7px solid #FFD700;
    cursor: pointer;
}

.ondas {
    width: 32px;
    height: 32px;
    background-color: rgb(24, 131, 202);
    border-radius: 50%;
    position: relative;
    animation: animate 3s linear infinite
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(74, 137, 255, 0.7), 0 0 0 0 rgb(74, 137, 255, 0.7)
    }
    40% {
        box-shadow: 0 0 0 50px rgb(74, 137, 255, 0), 0 0 0 0 rgb(74, 137, 255, 0.7)
    }
    80% {
        box-shadow: 0 0 0 50px rgb(74, 137, 255, 0), 0 0 0 30px rgb(74, 137, 255, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgb(74, 137, 255, 0), 0 0 0 30px rgb(74, 137, 255, 0)
    }
}