<div class="col-sm-12">
  <button [disabled]="!boolSearch" (click)="getInvoices()" id="refresh" class="btn btn-sm btn-secondary">
    <span class="fas fa-refresh fa-fw"></span>&nbsp;Refrescar
  </button>
  <button (click)="configTb()" id="configTable" class="btn btn-sm btn-outline-info">
    <span class="fas fa-cogs fa-fw"></span>
  </button>
  <div class="btn-group mr-1" id="btnFilters">
    <button (click)="showFilter()" id="btnFilter" class="btn btn-sm btn-outline-info">
      <span class="fas fa-search fa-fw"></span>
    </button>
    <button [disabled]="!filtered" (click)="hideFilter()" id="btnFilterTimes" class="btn btn-sm btn-outline-danger">
      <span class="fas fa-times fa-fw"></span>
    </button>
  </div>
  <legend class="text-center">Facturas Pendientes
  </legend>
  <div class="table-wrapper">
    <div class="align-self-center no-more-tables" id="table-invoices">
      <table class="table table-hover table-dark table-sm table-striped">
        <thead>
          <tr class="text-center">
            @if (exits('Número')) {
              <th scope="col">Número</th>
            }
            @if (exits('Proveedor')) {
              <th scope="col">Proveedor</th>
            }
            @if (exits('Nombre')) {
              <th scope="col">Nombre</th>
            }
            @if (exits('Recibido')) {
              <th scope="col">Recibido</th>
            }
            @if (exits('Vence')) {
              <th scope="col">Vence</th>
            }
            @if (exits('Estado')) {
              <th scope="col">Estado</th>
            }
            @if (exits('Egreso')) {
              <th scope="col">Egreso</th>
            }
            @if (exits('Historial')) {
              <th scope="col"
              title="R = Revisado&#xA;A = Autorizado&#xA;C = Causado&#xA;P = Pagado">Historial</th>
            }
            @if (exits('Estación')) {
              <th scope="col">Estación</th>
            }
            @if (exits('Valor')) {
              <th scope="col">Valor</th>
            }
            @if (exits('Saldo')) {
              <th scope="col">Saldos</th>
            }
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (invoice of invoices; track invoice) {
            <tr [ngClass]="porCobrar(invoice.estado)" [@fade]="'in'">
              @if (exits('Número')) {
                <td data-title="Número" class="text-center">{{invoice.numero}}</td>
              }
              @if (exits('Proveedor')) {
                <td data-title="Proveedor" class="text-center"
                [title]="getNameProvider(invoice.proveedor)">{{invoice.proveedor}}</td>
              }
              @if (exits('Nombre')) {
                <td data-title="Nombre" class="text-center">{{getNameProvider(invoice.proveedor)}}
                </td>
              }
              @if (exits('Recibido')) {
                <td data-title="Recibido" class="text-center">{{invoice.recibido | date:
                'dd/MM/yy' : '+0000'}}</td>
              }
              @if (exits('Vence')) {
                <td data-title="Vence" class="text-center">{{invoice.fechaVen | date: 'dd/MM/yy' :
                '+0000'}}</td>
              }
              @if (exits('Estado')) {
                <td data-title="Estado" class="text-center">{{getStatusName(invoice.estado)}}</td>
              }
              @if (exits('Egreso')) {
                <td data-title="Egreso" class="text-center">{{invoice.egreso}}</td>
              }
              @if (exits('Historial')) {
                <td data-title=" Historial" class="text-center">{{invoice.historial}}</td>
              }
              @if (exits('Estación')) {
                <td data-title="Estación" class="text-center">
                  <div id="truncat">{{getNameStation(invoice.estacion)}}</div>
                </td>
              }
              @if (exits('Valor')) {
                <td data-title="Valor" class="text-right">{{invoice.valor | currency }}</td>
              }
              @if (exits('Saldo')) {
                <td data-title="Saldo" class="text-right">{{invoice.saldo | currency }}</td>
              }
              <td data-title="Acciones" class="text-center">
                <div id="btns">
                  <button class="btn btn-info btn-sm" (click)="addNovelty(invoice)" title="Novedad">
                    <span class="fas fa-plus fa-fw"></span>
                  </button>
                  <button (click)="searchHistory(invoice)" class="btn btn-success btn-sm" title="Historial">
                    <span class="fas fa-history fa-fw"></span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-modal-dialog (hide)="boolHistory = false" [visible]="boolHistory">
  <app-invoice-history [invoice]="invoiceSel">
  </app-invoice-history>
</app-modal-dialog>
<app-modal-dialog (hide)="boolNovelty = false" [visible]="boolNovelty">
  <app-invoice-novelty [invoice]="invoiceSel" (submiter)="resultNovelty($event)"></app-invoice-novelty>
</app-modal-dialog>
<app-modal-dialog (hide)="booleanTableConfig = false" [visible]="booleanTableConfig" width="4">
  <app-table-config [tableName]="nameTAbleConfig" (submiter)="resultTableConfig()"></app-table-config>
</app-modal-dialog>
<app-modal-dialog (hide)="boolFilter = false" [visible]="boolFilter" width="6">
  <div class="row">
    <div class="col-sm-4">
      <input class="form-control" id="stringFilter" type="text" [(ngModel)]="stringFilter" (keyup.enter)="filter()">
    </div>
    <div class="col-sm-4">
      <button (click)="filter()" class="btn btn-primary btn-block">Filtrar</button>
    </div>
    <div class="col-sm-4">
      <button (click)="hideFilter()" class="btn btn-danger btn-block">Cancelar</button>
    </div>
  </div>
</app-modal-dialog>